{% extends "base.html" %}

{% load static %}

{% static "channels/js/websocketbridge.js" %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

<!-- Latest compiled and minified CSS -->


<style>
  .rect1 {
    border-radius: 8px;
    background: rgba(233,230,243,1.0);
    font-size:17px;
    padding: 2px;
    min-width: 30px;
    height: 30px;
    color: rgba(62,128,187,1.0);
    transition: all .2s ease-in-out; 
  }
  .rect1:hover {
    transform: scale(1.3);
  }
</style>

   <!-- <div style="color:blue;"> /Vol </div>  -->





{% endblock %}





{% block scripts %}


      <!-- Start of Canvas -->

<body onload="loadModels()">

  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-3" style="margin-left:30px;">
        <br>
        <div class="rect1" style="width: 150px; height:80px; font-size:30px;"> 
          <div style="margin-left:50px;"> <b> Vol </b> </div> 
        </div>  

        <br>
        <div class="rect1" style="width: 250px;"> 
          <div style="margin-left:10px;">  A Project by Oleksiy Al-saadi </div>
        </div>

        <br>
        <div class="rect1" style="width: 120px;"> 
          <div style="margin-left:10px;"> Use Firefox! </div>
        </div>

        <br>
        <div class="rect1" style="width: 190px;"> 
          <div style="margin-left:10px;">  Press Space to Jump </div>
        </div>

        <br>
        <div class="rect1" style="width: 160px;"> 
          <div style="margin-left:10px;">  Press E to Shoot </div>
        </div>

        <br>
        <div class="rect1" style="width: 250px;"> 
          <div style="margin-left:10px;">  Esc to regain mouse control </div>
        </div>

      </div>
      
      <div class="col-sm-8" id="mainCanvas">

          <canvas id="webgl" width="200" height="200" tabindex="1">
            Please use a browser that supports "canvas"
          </canvas>

        <script src="{% static "lib/webgl-utils.js" %}"></script>
        <script src="{% static "lib/webgl-debug.js" %}"></script>
        <script src="{% static "lib/cuon-utils.js" %}"></script>
        <script src="{% static "lib/cuon-matrix.js" %}"></script>

        <script src="{% static "program/initObjects.js" %}"></script>
        <script src="{% static "program/lightClass.js" %}"></script>
        <script src="{% static "program/main.js" %}"></script>
        <script src="{% static "program/loadObject.js" %}"></script>

      </div>

      <div id="postEffects">
        <canvas id="post" width="10" height="10" tabindex="1">
          2D Context Copy
        </canvas>
      </div>

    </div> <!-- row -->

  </div> <!-- container -->

</body>


{% endblock %}
